{
  "extends": ["react-app", "prettier"],
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "all",
        "jsxBracketSameLine": true,
        "parser": "flow"
      }
    ]
  },
  "plugins": ["prettier"]
}
